Chifuyubot/config.py
Chifuyubot/*.session
Chifuyubot/*.session-journal
Chifuyubot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Chifuyubot/modules/helper_funcs/temp.txt
Chifuyubot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Chifuyu.session-journal
updates.txt
*.exe
