chifuyu-matsuno/config.py
chifuyu-matsuno/*.session
chifuyu-matsuno/*.session-journal
chifuyu-matsuno/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
chifuyu-matsuno/modules/helper_funcs/temp.txt
chifuyu-matsuno/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Chifuyu.session-journal
updates.txt
*.exe
